

<div id="cactus_journal_image" class="img-responsive">
				<%#= image_tag("Rebutia_perplexa.jpg", class: "img-responsive", width: '100%') %>
	<div class="section_title">
		Cactus Blog
	</div>
</div>			
<div id="welcome_text">
				<p>Welcome to my cactus blog! Here I am going to tell you about my greenhouse activity during the whole year.</p>
				<p> Here I will show my photos of beautiful cactus flowers  from my own collection which I normally see from the late spring till the early autumn.</p>
</div>
			

