<h1>Cactus blog</h1>
<div class="container-fluid">
	<div class="row">
	    <div class="col-sm-6 col-md-4">
				<%= image_tag("Rebutia_perplexa.jpg", class: "img-responsive", width: '500') %>
			</div>
			<div class="col-sm-6 col-md-4">
				<p>Welcome to my cactus blog! Here I am going to tell you about my greenhouse activity during the whole year.</p>
				<p> Here I will share my photos of beautiful cactus flowers  from my collection which I normally see from the late spring till the early autumn.</p>
			</div>
	</div>
</div>