// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h1{
	font-size: 3em;
	text-align: center;
	font-family: 'Coffee_Written_Bold';
}

footer{
	font-size: 1.5em;
	font-family: 'Coffee_Written_Bold';
}
